<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Tabele MRP</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <h1>Tabele MRP</h1>
    {% for part, mrp in mrp_tables.items() %}
        <div class="component-hierarchy">
            <h2>{{ part }}</h2>
            {% if mrp['Używane w'] %}
                <p>Używane w: 
                    {% for parent in mrp['Używane w'] %}
                        <span class="parent-item">{{ parent }}</span>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            {% else %}
                <p>Element końcowy</p>
            {% endif %}
        </div>
        
        <table>
            <tr>
                <th>Tydzień</th>
                {% for week in range(8) %}
                    <th>Week {{ week+1 }}</th>
                {% endfor %}
            </tr>
            {% for key, values in mrp.items() %}
                {% if key != 'Używane w' %}
                    <tr>
                        <td>{{ key }}</td>
                        {% for value in values %}
                            {% if value != 0 %}
                                <td class="highlight {% if value > 0 %}positive{% elif value < 0 %}negative{% endif %}">
                                    {{ value }}
                                </td>
                            {% else %}
                                <td>{{ value }}</td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endif %}
            {% endfor %}
        </table>
    {% endfor %}
    
    <a href="{{ url_for('ghp_table') }}" class="back-button">Powrót do tabeli GHP</a>
</body>
</html>